.ticket-main {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 20%; */
    margin: 10px;
    width: 250px;
    height: 100px;
    box-shadow:  0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ticket-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.ticket-header, .ticket-content {
    font-size: 14px;
    margin: 3px;
}

.ticket-content-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.ticket-title {
    margin-left: 4px;
}

.ticket-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin: 3px 0px;
}

.ticket-tag {
    border: 1px solid black;
    width: fit-content;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}