.navbar-main {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
}

.navbar-options-dropdown {
    padding: 20px 20px 10px;
    position: 'absolute';
    z-index: 97;
}

.navbar-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F3F4F8;
    width: fit-content;
    padding: 10px 30px;
    margin: 8px 0px;
    border-radius: 10px;
}

.navbar-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: 4px 0;
}